#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Controlador de Áudio
GenericName=Mixer de Áudio Arduino
Comment=Controle volume do sistema com Arduino Nano
Icon=audio-controller
Exec=audio-controller-gui
Terminal=false
Categories=AudioVideo;Audio;Mixer;GTK;
Keywords=audio;volume;mixer;arduino;potentiometer;
StartupNotify=true
