#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Ioruba Audio Mixer
GenericName=Hardware Audio Mixer
Comment=Control audio with physical sliders
Icon=ioruba
Exec=ioruba-gui
Terminal=true
Categories=AudioVideo;Audio;Mixer;
Keywords=audio;mixer;volume;arduino;slider;
StartupNotify=true
StartupWMClass=Ioruba
