[Desktop Entry]
Version=1.0
Type=Application
Name=Iarubá Audio Mixer
GenericName=Hardware Audio Mixer
Comment=Control audio with physical sliders
Icon=iaruba
Exec=iaruba
Terminal=false
Categories=AudioVideo;Audio;Mixer;
Keywords=audio;mixer;volume;arduino;slider;
StartupNotify=true
StartupWMClass=Iaruba
